{% extends 'main.html' %}

{% block content %}

<title>
    Delete "{{obj}}"
</title>

<link rel="icon" href="/static/images/logo-title.png" type="image/x-icon">


<body style="background-color: #3d3d3d">
    <div class="delete-form">
        <form method = "POST" action="">
            {% csrf_token %}
            <div class="delete-form-content">
                <h3>Are you sure you want to delete "{{obj}}"?</h3>
            </div>
            <br>
            <div class="delete-buttons">
                <div class="delete-go-back">
                    <a href="{{request.META.HTTP_REFERER}}">Go Back</a>    
                </div>

                <div class="delete-confirm">
                    <input type="submit" value="Confirm"/>
                </div>
            </div>
            <br>
        </form>
    </div>
</body>
    
{% endblock content %}
