*{
    margin: 0;
}

.navbar{
    padding: 10px 0;
    background-color: #181818;
}

.navbar nav a{
    text-decoration: none;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.readlist a{
    text-decoration: none;
    text-transform: uppercase;
}

.readlist span{
    font-weight: bolder;
    font-size: 150%;
    color: whitesmoke;
    cursor: pointer;
    background: #181818;
    padding: 15px;
    border-radius: 15px;
}

.readlist :hover{
    text-decoration: underline;
}

.my-books{
    color: whitesmoke;
    font-size: larger;
}

.my-books span{
    padding: 6px;
    border-radius: 10px;
    background-color: #181818;
}

.read-later{
    color: whitesmoke;
    font-size: larger;
}

.read-later span{
    padding: 6px;
    border-radius: 10px;
    background-color: #181818;
}

.add{
    text-align: center;
}

.add a:hover{
    background-color: black;
    transition: .8s;
}

.add-unread{
    text-align: center;
}

.add-unread a:hover{
    background-color: black;
    transition: .8s;
}

.add a{
    color: whitesmoke;
    background: #181818;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-transform: uppercase;
}

.add-unread a{
    color: whitesmoke;
    background: #181818;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-transform: uppercase;
}

.book{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 10%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: .4fr 3fr .075fr;
    background-color: #181818;
}

.book-info{
    color: white;
    margin-left: 2%;
}

.book-title{
    margin-left: 2%;
    margin-top: 1%;
}

.book-title :hover{
    text-decoration: underline;
}

.book-title a{
    color: whitesmoke;
    text-decoration: none;
}

.delete-button{
    color: grey;
    float: inline-end;
    margin-right: 5px;
    margin-top: 375%;
}

.delete-button :hover{
    color: white;
}

.delete-button a{
    color: lightgrey;
    text-decoration: none;
}

.unread-book{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 10%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: .4fr 3fr .075fr;
    background-color: #181818;
}

.unread-book-img{
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
}

.unread-book-info{
    color: white;
    margin-left: 2%;
}

.unread-book-title{
    color: white;
    margin-left: 2%;
    margin-top: 1%;
}

.unread-delete-button {
    color: lightgrey;
    float: inline-end;
    margin-right: 5px;
    margin-top: 375%;
}

.unread-delete-button a{
    color: lightgrey;
    text-decoration: none;
}

.unread-delete-button :hover{
    color: white;
}

.read-book{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 10%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: .4fr 3fr .075fr;
    background-color: #181818;
}

.read-book-info{
    color: white;
    margin-left: 2%;
}

.read-book-title {
    color: white;
    margin-left: 2%;
    margin-top: 1%;
}

.read-book-img{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
}

.book-img{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
}

.edit-button{
    color: lightgrey;
    margin-top: 210px;
    margin-right: 5px;
    float:inline-end;
}

.edit-button a{
    color: lightgrey;
    text-decoration: none;
}

.edit-button :hover{
    color: white;
}

.sentences{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 10%;
    border-radius: 15px;
    color: whitesmoke;
    background-color: #181818;
}

.sentences-title{
    margin-left: 1%;
}

.sentences-info{
    margin-left: 1%;
    margin-right: 1%;
}

.highlights{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 10%;
    border-radius: 15px;
    color: whitesmoke;
    background-color: #181818;
}

.highlights-title{
    margin-left: 1%;
}

.highlights-info{
    margin-left: 1%;
    margin-right: 1%;
}

.read-form{
    align-content: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #181818;
}

.read-form-content{
    color: whitesmoke;
    margin-left: 10px;
}

.read-submit-button{
    margin-left: 90%;
}

.unread-form{
    align-content: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #181818;
}

.unread-form-content{
    color: whitesmoke;
    margin-left: 35%;
}

.unread-submit-button{
    margin-left: 90%;
}

.delete-form{
    align-content: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #181818;
}

.delete-form-content{
    margin-left: 1%;
    color: whitesmoke;
}

.delete-buttons{
    display: flex;
    margin: auto;
    align-items: center;
}

.delete-go-back{
    margin-left: 1%;
}

.delete-go-back:hover{
    background-color: black;
}

.delete-go-back a{
    color: lightgrey;
    padding: 2.5px;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    text-decoration: none;
}

.delete-go-back :hover{
    color: white;
}

.delete-confirm{
    margin-left: 80%;
}
